/*
  Styles for PeekBehind.com
  by Eric Bréchemier
*/

@import url("fonts/euphorigenic/stylesheet.css");

/*
  Euphorigenic font by Ray Larabie
  http://typodermicfonts.com/
*/
h1,h2,h2,h4,h5,h6,
dt,
th,
strong,
em,
.euphorigenic {
  font-family: Euphorigenic;
  font-weight: normal;
  font-style: normal;
}

/*
  Palette or colors
*/
.on-black {
  background-color: black;
}
.on-white {
  background-color: white;
}
.on-yellow {
  background-color: yellow;
}
.black {
  color: black;
}
.white {
  color: white;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}

/*
  Link colors
*/
a:link { /* unvisited */
  color: yellow;
}
a:visited {
  color: orange;
}
a:hover {
  color: black;
  background-color: yellow;
  text-decoration: none;
}
a:hover:visited {
  color: black;
  background-color: orange;
}

/* Vertical Rhythm with font sizes and margins */

body {
  font-size: 16px;
  line-height: 1.5;
}

h3,
dt,
th,
strong {
  font-size: 2em;
}

h2 {
  font-size: 3em;
}

h1 {
  font-size: 5em;
}

/* Adjust x-height of em within body copy */
em {
  font-size: 1.15em;
}

